.buddys {
  h1 {
    text-align: center;
  }
}
.buddys__list {
  margin-top: 20px;
}
.buddys__buddy {
  margin: 10px 0;
  background: white;
  border-radius: 20px;
  padding: 8px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  h3 {
  }
}
