.buddys {
  position: fixed;
  bottom: 20px;
  right: 20px;
  h4 {
    text-align: center;
  }
}
.buddys__list {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding: 10px;
  background: #eaebf0;
  border-radius: 20px; */
}
.buddys__buddy {
  margin: 10px 0;
  background: white;
  border-radius: 20px;
  padding: 8px 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.buddys__hereChat {
  position: fixed;
  bottom: 20px;
  right: 200px;
  width: auto;
}
// MOBILE
@media (max-width: 600px) {
  .buddys {
    display: none;
  }
}
