.message {
  margin-top: 10px;
  padding: 0 10px;
}
.message__active {
  display: flex;
  flex-direction: row-reverse;
  .message__time {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;
    margin-top: 2px;
  }
  .message__text {
    p {
      background: #6f87ff;
      border-radius: 10px 10px 0 10px;
      color: white;
    }
  }
}
.message__text {
  p {
    background: #f0f2f5;
    border-radius: 10px 10px 10px 0;
    padding: 5px 10px;
    display: inline-block;
  }
}
.message__time {
  margin-left: 5px;
  margin-top: 2px;
  p {
    font-size: 0.6rem;
    color: rgb(104, 104, 104);
  }
}

// MOBILE
@media (max-width: 600px) {
  .message__text {
    p {
      font-size: 1rem;
      padding: 12px 15px;
    }
  }
}
