.posts {
  margin-bottom: 30px;
}
.posts__post {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}
.bigPost__controls {
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 8px;
  border-radius: 10px;
}
