$paddingBig: 20px;
$paddingSmall: 10px;
.post {
  background: white;
  margin: 10px;
  padding: $paddingSmall;
  min-width: 200px;
  max-width: 300px;
  flex-grow: 1;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px -14px black;
}
.post__user {
  display: flex;
  align-items: center;
  z-index: 50;
  position: relative;
  h3 {
    margin-left: 5px;
  }
  margin-bottom: 10px;
}
.post__avatar {
  width: 30px;
  height: 30px;
}
.post__content {
  padding: $paddingBig;
}
.post__text {
  margin-bottom: 10px;
  position: relative;
  p {
    margin: 20px;
  }
}
.post__image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  filter: blur(8px);
  z-index: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transform: scale(1.2);
  }
}
.post__controls {
  position: absolute;
  bottom: 10px;
  right: 20px;
  p {
    color: gray;
  }
}
.post__controls--comments {
  display: flex;
  align-items: center;
  .MuiSvgIcon-root {
    color: gray;
  }
}
.bigPost {
  position: fixed;
  top: 5%;
  width: 50%;
  left: 25%;
  background: white;
  border-radius: 20px;
  min-height: 300px;
  z-index: 150;
  box-shadow: 0 0 20px -10px black;
}
.bigPost__post {
  margin: 0 0 10px 0px;
}
.bigPost__layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.bigPost__user {
  padding: $paddingBig;
  display: flex;
  align-items: center;
  h3 {
    margin-left: 10px;
  }
}
.bigPost__image {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.bigPost__content {
  padding: $paddingBig;
}
.bigPost__comments {
  button {
    margin-bottom: 10px;
  }
  p {
    margin: 5px;
  }
}
.bigPost__com {
  background: #f0f2f5;
  border-radius: 20px;
  padding: 3px 10px;
  margin-bottom: 10px;
}
.bigPost__addComment {
  display: flex;
  align-items: center;

  .MuiAvatar-root {
    width: 30px;
    height: 30px;
  }
  input {
    margin-left: 5px;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    background: #f0f2f5;
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
