@import "../styles/Theme.scss";
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__box {
  background: white;
  width: 350px;
  border-radius: 20px;
  text-align: center;
  height: 450px;
  position: relative;
  padding: 30px;
  form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    input {
      padding: 15px 10px;
      border: none;
      background: #f0f2f5;
      border-radius: 20px;
      margin-bottom: 10px;
      outline: none;
      color: rgb(49, 49, 49);
    }
    button {
      padding: 15px 0;
      border-radius: 20px;
      border: none;
      outline: none;
      background: $mainColor;
      color: white;
      font-weight: 800;
      cursor: pointer;
    }
    .login__failBtn {
      background: #b0b6d1;
    }
  }
}
.login__inside {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;

  box-sizing: border-box;
}
.login__wraper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.login__noAcc {
  cursor: pointer;
}
.login__dino {
  position: absolute;
  bottom: -120px;
  left: -170px;
  img {
    width: 200px;
  }
}
.login__bubble {
  position: absolute;
  left: -70px;
  bottom: 120px;
  img {
    width: 100px;
  }
}
.login__error {
  color: tomato;
}
@media (max-width: 600px) {
}
