@import "Theme.scss";
.site {
  width: 100%;
}
.sec1,
.sec2,
.sec3 {
  padding: 40px 20px;
}
.sec1 {
  flex: 0.13;
  color: white;
  background: #133552;
  box-shadow: 0 0 20px -14px black;
  height: 100vh;
  z-index: 100;
  position: fixed;
  width: 230px;
  top: 0;
  transition: 0.3s ease-in-out;
  .site__arrow {
    color: #a0b0bd !important;
    cursor: pointer;
    position: absolute;
    bottom: 84px;
    right: 10px;

    .MuiSvgIcon-root {
    }
  }
  .site__arrowRotate {
    transition: 0.3s ease;
    transform: rotate(180deg);
  }
}

.sec1__arrowActive {
  transform: rotate(180deg);
}

.sec2 {
  flex: 0.9;
  margin-left: 270px;
  padding: 40px 0 40px 40px;
}
.sec3 {
  flex: 0.1;
  padding: 0;
}

// MOBILE
.sec1__small {
  width: 75px;
}
.sec1__menuForMobile {
  display: none;
}

@media (max-width: 600px) {
  .sec1 {
    left: -270px !important;
  }
  .sec1-showMenu {
    left: 0 !important;
  }
  .sec1__menuForMobile {
    display: block;
    position: absolute;
    top: 20px;
    right: -80px;
    transition: 0.43s ease all;
    .MuiButtonBase-root {
      border-radius: 100%;
      width: 50px;
      height: 60px;
      padding: 0;
      margin: 0;
      background: $mainColor;
      border: none;
      &:hover {
        background-color: $mainColor;
      }
    }
    .MuiSvgIcon-root {
      color: white;
    }
  }
  .sec1__buttonActive {
    background: white !important;

    .MuiSvgIcon-root {
      color: $mainColor;
    }
  }
  .sec1__menuForMobileActive {
    right: 20px;
  }
  .sec2 {
    margin-left: 0px;
    padding: 10px 20px;
    margin-top: 90px;
  }
}
