/* $mainColor: #4c8ea6; */
/* $secColor: #498f8f; */
$alertColor: #d22c67;
$shadow: 0 0 20px -14px black;

/* $mainColor: #234867;
$mainColor: #234867;
$secColor: #295f8b;
$grayColor: #f0f2f5; */
$mainColor: #0f292f;
$secColor: #395c63;
$sec2Color: #296e7c;
$grayColor: #f0f2f5;

/* #222533 */
